* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

/*------BARRA SUPERIOR------*/
.login-superior {
    background-color: #A6A6A6;
}

.barra-superior {
    position: fixed;
    display: block;
    background-color: #FFFFFF;
    width: 100vw;
    z-index: 10;
}

.barra-superior p {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 2vh;
    padding: 2px;
}

.barra-superior a {
    text-decoration: none;
    font-weight: bolder;
    color: #FFFFFF;
}

.barra-superior a:hover {
    color: #0476D9;
    transition: ease-out .2s;
}
/*SERVIÇOS*/
.servicos {

    display: grid;
    grid-template-columns: 33% 33% 33%; 
    margin: 0vh 0;
    height: 9vh; 
}

/*home*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20%;
}

/*barra de pesquisa*/
.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-superior input {
    border: transparent;
    outline: none;
    background-color: #f0f0f0;
    width: 30vw;
    height: 5vh;
    padding: 2px 15px;
    border-radius: 5px;
}

/*carrinho*/
.compra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carrinho {
    width: 2.2em;
}

.compra h6 {
    font-weight:lighter;
    cursor: pointer;
    color: #012E40;
}

/*------NAVEGAÇÃO------*/
.primeiro {
    position: fixed;
    background-color: #404040;
    box-shadow: 1px 1px 1px #DDDDDD;
    margin-top: 14.5vh;
    height: 7vh;
    width: 100%;
    z-index: 10;
    opacity: 0.95;
}

.roupas {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    color: #262626;
    border-bottom: solid 1px #262626;
    top: 7vh;
    padding: 10px;
    opacity: 0.95;
}

.selecoes {
    display: none;
}

/*masculino*/
.masculino {
    position: absolute;
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    color: #FFFFFF;
    left: 14vw;
    top: 2vh;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.categorias-1 {
    display: none;
    position: relative;
    background-color: #FFFFFF;
    color: #262626;
    border-bottom: solid 1px #262626;
    top: 7vh;
    font-size: 1em;
    padding: 15px;
    width: 100%;
}

/*feminino*/
.feminino {
    position: absolute;
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    color: #FFFFFF;
    left: 47vw;
    top: 2vh;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

/*favorito*/
.favoritos {
    position: absolute;
    background-color:transparent;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    color: #FFFFFF;
    left: 79vw;
    top: 2vh;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.categorias-3 {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #FFFFFF;
    color: #262626;
    border: solid 1px #262626;
    top: 11vh;
    left: 71vw;
    width: 13vw;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border-radius: 6px;
}

.roupas p:hover {
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

/*-linha bottom*/
.masculino::after,
.feminino::after,
.favoritos::after {
    content: ' ';
    position: absolute;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
    background-color: #FFFFFF;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
}

.masculino:hover::after,
.feminino:hover::after,
.favoritos:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*----------CONTEUDO CENTRAL----------*/
/*banner black friday*/
.anuncio-1 {
    position: relative;
    top: 25vh;
    width: 96%;
    margin: 0px 2% 0px 2%;
    border-radius: 7px;
}

.anuncio-2 {
    display: none;
}

.subtitulo {
    text-align: center;
    position: relative;
    box-sizing: content-box;
    font-weight: lighter;
    text-transform: uppercase;
    color: #012E40;
    top: 26vh;
    font-size: 1.5em;
}   


/*-----------FILEIRA ANUNCIO 1-------------*/
.fileira-1 {
    position: relative;
    background-color: #F2F2F2;
    top: 30vh;
    height: 90vh;
    width: 95vw;
    margin: 0 2vw 0 2vw;
    border-radius: 15px;
}

/*camisa 1*/
.camisa-1 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 20%;
}

.camisa-1 img {
    position: relative;
    width:100%;
    border-radius: 5px;
}

.camisa-1 img:hover {
    border: solid 2px #012E40;
    border-radius: 8px;
    filter: blur(1px);
}

/*-descrição/preço/botão*/
.texto-1 {
    position: relative;
    top: 0%;
    left: 0%;
}

.texto-1 p {
    position: absolute;
    text-transform: uppercase;
    font-weight: lighter;
    color: #0D0D0D;
    left: 50%;
    transform: translate(-50%);
    top: 0vh;
    font-size: .8em;
}

.texto-1 del {
    position: absolute;
    color: #404040;
    left: 50%;
    transform: translate(-50%);
    font-size: .7em;
    padding-top: 3vh;
}

.texto-1 h3 {
    position: absolute;
    color: #0D0D0D;
    left: 50%;
    transform: translate(-50%);
    top: 5vh;
    font-size: 1.2em;
}

.texto-1 h6 {
    position: absolute;
    color: #404040;
    left: 50%;
    transform: translate(-50%);
    top: 8vh;
    font-weight: lighter;
}

.camisa-1 button {
    position: absolute;
    text-transform: uppercase;
    border: none;
    background-color: #024873;
    color: #ffffff;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    top: 13vh;
    width: 110px;
    height: 40px;
    border-radius: 6px;
    font-size: .7em;
}

.camisa-1 button:hover {
    background-color: #FFFFFF;
    border: solid 1px #2267F2;
    color: #2267F2;
    transition: .3s;
}

/*camisa 2*/
.camisa-2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    width: 20%;
}

.camisa-2 img {
    position: relative;
    width:100%;
    border-radius: 5px;
}

.camisa-2 img:hover {
    border: solid 2px #012E40;
    border-radius: 8px;
    filter: blur(1px);
}

/*-descrição/preço/botão*/
.texto-2 {
    position: relative;
    top: 0%;
    left: 0%;
}

.texto-2 p {
    position: absolute;
    text-transform: uppercase;
    font-weight: lighter;
    color: #0D0D0D;
    left: 50%;
    transform: translate(-50%);
    top: 0vh;
    font-size: .8em;
}

.texto-2 del {
    position: absolute;
    color: #404040;
    font-size: .7em;
    padding-top: 3vh;
    left: 50%;
    transform: translate(-50%);
}

.texto-2 h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 1em;
    top: 5vh;
    color: #0D0D0D;
}

.texto-2 h6 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 8vh;
    font-weight: lighter;
    color: #404040;
}

.camisa-2 button {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background-color: #024873;
    color: #ffffff;
    left: 50%;
    transform: translate(-50%);
    top: 13vh;
    width: 110px;
    height: 40px;
    border-radius: 6px;
    font-size: .7em;
}

.camisa-2 button:hover {
    background-color: #FFFFFF;
    border: solid 1px #2267F2;
    color: #2267F2;
    transition: .3s;
}

/*camisa 3*/
.camisa-3 {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 20%;
}

.camisa-3 img {
    position: relative;
    width:100%;
    border-radius: 5px;
}

.camisa-3 img:hover {
    border: solid 2px #012E40;
    border-radius: 8px;
    filter: blur(1px);
}

/*-descrição/preço/botão*/
.texto-3 {
    position: relative;
    top: 0%;
    left: 0%;
}

.texto-3 p {
    position: absolute;
    text-transform: uppercase;
    font-weight: lighter;
    color: #0D0D0D;
    left: 50%;
    transform: translate(-50%);
    top: 0vh;
    font-size: .8em;
}

.texto-3 del {
    position: absolute;
    color: #404040;
    font-size: .7em;
    padding-top: 3vh;
    left: 50%;
    transform: translate(-50%);
}

.texto-3 h3 {
    position: absolute;
    color: #0D0D0D;
    left: 50%;
    transform: translate(-50%);
    top: 5vh;
    font-size: 1em;
}

.texto-3 h6 {
    position: absolute;
    font-weight: lighter;
    color: #404040;
    left: 50%;
    transform: translate(-50%);
    top: 8vh;
}

.camisa-3 button {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #024873;
    color: #ffffff;
    left: 50%;
    transform: translate(-50%);
    top: 13vh;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: .7em;
}

.camisa-3 button:hover {
    background-color: #FFFFFF;
    border: solid 1px #2267F2;
    color: #2267F2;
    transition: .3s;
}

/*-------FILEIRA 2----------*/
/*icones 2*/
.fileira-2 {
    position: relative;
    background-color: #F2F2F2;
    top: 40vh;
    height: 10vh;
}

.icones-2 {
    position: absolute;
    padding-top: 10px;
    top: 0vh;
    width: 50vw;
}
.icones-2 img {
    position: absolute;
    display: inline;
    left: 10vw;
    width: 3em;
}
.icones-2 a {
    padding: 0 6%;
}

.icones-2 a:hover {
    color: #0378A6;
    text-decoration: underline #0378A6;
    transition: ease-in-out .1s;
}

/*frete*/
#frete {
    position: absolute;
    left: 13vw;
}

.frete-1 {
    font-size: 1em;
    position: absolute;
    left: 17vw;
    top: 2.5vh;
    text-decoration: none;
    text-align: center;
    color: #0D0D0D;
}

/*cartão*/
#cartao {
    position: absolute;
    left: 32vw;
}

.cartao-1 {
    font-size: 15px;
    position: absolute;
    left: 36vw;
    top: 2.5vh;
    text-decoration: none;
    text-align: center;
    color: #0D0D0D;
}

/*rápido*/
#rapido {
    position: absolute;
    left: 52vw;
}

.rapido-1 {
    position: absolute;
    text-decoration: none;
    text-align: center;
    color: #0D0D0D;
    top: 2.5vh;
    left: 56vw;
    font-size: 15px;
}

/*oferta*/
#oferta {
    position: absolute;
    left: 73vw;
}

.oferta-1 {
    position: absolute;
    text-decoration: none;
    text-align: center;
    color: #0D0D0D;
    left: 77vw;
    top: 2.5vh;
    font-size: 15px;
}

/*--------CATEGORIAS DE ROUPAS---------*/
.categorias-secundarias h2 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    color: #012E40;
    top: 45vh;
    font-size: 1.2em; 
}

.categorias-roupas {
    position: relative;
    display: block;
    height: 40vh;
    top: 50vh;
}

/*moletom*/
.moletom {
    position: relative;
    left: 7%;
    transform: translate(-7%);
    width: 9em;
    border-radius: 50%;
}

.moletom-box {
    position: relative;
    left: 7%;
    transform: translate(-7%);
    width: 9em;
}

.moletom-1 {
    position: absolute;
    text-decoration: none;
    color: #012E40;
    left: 50%;
    transform: translate(-50%);
}

/*jaquetas*/
.jaquetas {
    position: absolute;
    left: 28%;
    transform: translate(-28%);
    top: 0;
    width: 9em;
    border-radius: 50%;
}

.jaquetas-box {
    position: relative;
    left: 28%;
    transform: translate(-28%);
    width: 9em;
}

.jaquetas-1 {
    position: absolute;
    text-decoration: none;
    color: #012E40;
    left: 50%;
    transform: translate(-50%);
}

/*oculos*/
.oculos {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    width: 9em;
    border-radius: 50%;
}

.oculos-box {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 9em;
}

.oculos-1 {
    position: absolute;
    text-decoration: none;
    color: #012E40;
    left: 50%;
    transform: translate(-50%);
}

/*bones*/
.bones {
    position: absolute;
    left: 70%;
    top: 0;
    transform: translate(-70%);
    width: 9em;
    border-radius: 50%;
}

.bones-box {
    position: relative;
    left: 70%;
    transform: translate(-70%);
    width: 9em;
}

.bones-1 {
    position: absolute;
    text-decoration: none;
    color: #012E40;
    left: 50%;
    transform: translate(-50%);
}

/*eletronico*/
.eletronico {
    position: absolute;
    right: 7%;
    top: 0;
    transform: translate(-7%);
    width: 9em;
    border-radius: 50%;
}

.eletronico-box {
    position: relative;
    right: 7%;
    float: right;
    transform: translate(-7%);
    width: 9em;
}

.eletronico-1 {
    position: absolute;
    text-decoration: none;
    color: #012E40;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 1000px) {
    /*moletom*/
    .moletom {
        width: 7em;
    }
    .moletom-box {
        width: 7em;
    }
    /*jaquetas*/
    .jaquetas {
        width: 7em;
        left: 28.5%;
        transform: translate(-28.5%);
    }
    .jaquetas-box {
        width: 7em;
    }
    /*oculos*/
    .oculos {
        width: 7em;
    }
    .oculos-box {
        width: 7em;
    }
    /*bones*/
    .bones {
        width: 7em;
    }
    .bones-box {
        width: 7em;
    }
    /*eletronico*/
    .eletronico {
        width: 7em;
    }
    .eletronico-box {
        width: 7em;
    }
}

/*----------FINAL------------*/
.barra-final {
    position: relative;
    background-color: #024873;
    top: 50vh;
    height: 80vh; 
}

.informacao {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

/*sobre nos*/
.sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.sobre-nos h2 {
    font-weight:bolder;
    text-transform: uppercase;
    color: #D9D7D7;
    font-size: 1.4em;
    padding-bottom: 3vh;
}

.sobre-nos a {
    display: block;
    font-weight: lighter;
    text-decoration: none;
    color: #D9D7D7;
    margin-bottom: 15px;
    font-size: .8em;
}

/*mais ajuda*/
.mais-ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.mais-ajuda h2 {
    font-weight:bolder;
    text-transform: uppercase;
    color: #D9D7D7;
    font-size: 1.4em;
    margin-bottom: 3vh;
}

.mais-ajuda a {
    font-weight: lighter;
    text-decoration: none;
    color: #D9D7D7;
    display: block;
    margin-bottom: 2vh;
    font-size: .8em;
}

/*atendimento*/
.atendimento {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.atendimento h2 {
    font-weight:bolder;
    text-transform: uppercase;
    color: #D9D7D7;
    font-size: 1.4em;
    padding-bottom: 3vh;
}

.atendimento h4 {
    font-weight: lighter;
    color: #D9D7D7;
    padding: 0 0 2vh 2.5vw;
    font-size: .8em;
}

.atendimento img {
    float: left;
    width: 1.3em;
}

.sobre-nos a:hover,
.mais-ajuda a:hover {
    background-color: #FFFFFF;
    color: #0378A6;
    transition: .3s;
    transform:scale(1.1);
}

/*pagamento*/
.pagamento {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%);
}

.pagamento h2 {
    text-align: center;
    text-transform: uppercase;
    color: #D9D7D7;
    margin-bottom: 2vh;
    font-size: 1.4em;
}

.pagamento img {
    width: 2.5em;
    border-radius: 5px;
    margin-right: 1vw;
}

/*aviso*/
.barra-final h6 {
    position: absolute;
    text-transform: uppercase;
    font-weight: lighter;
    left: 50%;
    transform: translate(-50%);
    top: 70vh;
}

/*footer final*/
.barra-final p {
    position: absolute;
    color: #D9D7D7;
    left: 50%;
    transform: translate(-50%);
    top: 77vh;
    font-size: .8em;
}

/*----RESPONSIVIDADE MOBILE----*/
@media (max-width: 768px) {
    /*-BARRA SUPERIOR -*/
    .servicos {
        grid-template-columns: 80% 20%;
        margin-top: 1vh;
    }
    .barra-pesquisa {
        justify-content: end;
    }
    .barra-pesquisa input {
        width: 65vw;
    }
    
    .primeiro,
    .perfil,
    .finalizar-compra,
    .home {display: none;}
    
    .login-superior p {
        font-size: .7em;
        padding: 3px 0;
    }

    /*-----BANNER BLACK FRIDAY-----*/
    .anuncio-1 {display: none;}
    .anuncio-2 {
        display: block;
        position: relative;
        top: 15vh;
        width: 100%;
    }

    /*-----FILEIRA ANUNCIO 1-----*/
    .produtos-1 h2 {
        margin-bottom: 4vh;
        font-size: 1em;
    }
    
    .fileira-1 {
        position: relative;
        top: 24vh;
        height: 1350px;
        width: 92vw;
        margin: 0 2vw 0 2vw;
    }

    /*camisa-1*/
    .camisa-1 {
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translate(-50%);
        width: 14em;
    }

    .camisa-1 img {
        position: relative;
        width: 14em;
        top: 0vh;
        left: 50%;
        transform: translate(-50%);
    }

    .camisa-1 h3 {
        position: absolute;
        margin-top: 1vh;
        left: 50%;
        transform: translate(-50%);
        width: 50vw;
        text-align: center;
    }

    .texto-1 del {
        position: absolute;
        top: 0vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .7em;
    }

    .camisa-1 button {
        position: absolute;
        top: 13vh;
        left: 50%;
        transform: translate(-50%);
    }

    .texto-1 h6 {
        position: absolute;
        top: 10vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .6em;
    }

    /*_camisa-2*/
    .camisa-2 {
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%);
        width: 14em;
    }

    .camisa-2 img {
        position: relative;
        width: 14em;
        top: 0vh;
        left: 50%;
        transform: translate(-50%);
    }

    .camisa-2 h3 {
        position: absolute;
        margin-top: 1vh;
        left: 50%;
        transform: translate(-50%);
        width: 50vw;
        text-align: center;
    }

    .texto-2 del {
        top: 0vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .7em;
    }

    .camisa-2 button {
        position: relative;
        top: 13vh;
        left: 50%;
        transform: translate(-50%);
    }

    .texto-2 h6 {
        top: 10vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .6em;
    }

    /*camisa-3*/
    .camisa-3 {
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%);
        width: 14em;
    }

    .camisa-3 img {
        position: relative;
        top: 0vh;
        left: 50%;
        transform: translate(-50%);
    }

    .camisa-3 h3 {
        position: absolute;
        margin-top: 1vh;
        left: 50%;
        transform: translate(-50%);
        width: 50vw;
        text-align: center;
    }

    .texto-3 del {
        top: 0vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .5em;
    }   
    
    .camisa-3 button {
        position: relative;
        top: 13vh;
        left: 50%;
        transform: translate(-50%);
    }

    .texto-3 h6 {
        top: 10vh;
        left: 50%;
        transform: translate(-50%);
        font-size: .6em;
    }

    /*-----FILEIRA ANUNCIO 2-----*/
    .fileira-2 {
        position: relative;
        top: 30vh;
        background-color: #e7e7e7;
        height: 10vh;
    }
    
    .icones-2 {
        position: absolute;
        padding-top: 12px;
        top: 0vh;
        width: 50vw;
    }

    #frete {
        width: 2em;
        margin-top: 0vh;
    }

    #cartao {
        position: absolute;
        width: 2em;
        margin-top: 0vh;
    }

    #rapido {
        position: absolute;
        width: 2em;
        margin-top: 0vh;
    }

    #oferta {
        position: absolute;
        width: 2em;
        margin-top: 0vh;
    }

    .frete-1,
    .cartao-1,
    .rapido-1,
    .oferta-1 {
        font-size: .7em !important;
    }

    /*-----CATEGORIAS DE ROUPAS-----*/
    .categorias-secundarias h2 {
        font-size: .9em;
        top: 35vh;
    }
    
    .categorias-roupas {
        position: relative;
        height: 40vh;
        top: 40vh;
        display: block;
    }

    /*moletom*/
    .moletom {
        position: relative;
        width: 8em;
        left: 20%;
        transform: translate(-20%);
    }

    .moletom-1 {display: none;}

    /*jaquetas*/
    .jaquetas {
        position: absolute;
        width: 8em;
        left: 80%;
        transform: translate(-80%);
    }

    .jaquetas-1 {display: none;}

    /*óculos*/
    .oculos {
        position: absolute;
        width: 8em;
        top: 80%;
        left: 20%;
        transform: translate(-20%);
    }

    .oculos-1 {display: none;}

    /*bones*/
    .bones {
        position: absolute;
        width: 8em; 
        top: 80%;
        left: 80%;
        transform: translate(-80%);
    }

    .bones-1 {display: none;}

    /*eletronico*/
    .eletronico,
    .eletronico-1 {display: none;}

    /*-----FINAL-----*/
    .barra-final {
        top: 65vh;
    }

    .sobre-nos a,
    .mais-ajuda a {
        font-size: .6em;
    }

    .sobre-nos h2,
    .mais-ajuda h2,
    .atendimento h2,
    .pagamento h2 {
        font-size: .8em;
    }

    .atendimento h4 {
        font-size: .5em;
        margin-left: 1.5vw;
    }

    .atendimento img {
        width: .6em;
    }
    /*pagamento*/
    .pagamento {
        top: 60%;
    }

    .pagamento img {
        width: 1.5em;
    }

    .barra-final h6 {
        font-size: .6em;
    }

    .barra-final p {
        font-size: .5em;
    }
}